#current-list-items {
    margin-left: 36px;
    margin-top: 24px;
}

.watchlist-detail-col-header {
    color: #8892a1;
}

.watchlist-detail-row {
    box-sizing: border-box;
    height: 60px;
    padding: 0 10px;

    border-bottom: 0.5px solid var(--sidebar-border);
}

.watchlist-detail-redirect {
    cursor: pointer;
}

.watchlist-detail-redirect:hover {
    background-color: var(--gray-hover);
}

.watchlist-detail-row > * {
    font-size: 14px;
}

.watchlist-detail__change {
    height: 14px;
    padding-right: 5px;
}

.name-col {
    width: 35%;
}

.symbol-col {
    width: 12.5%;
}

.price-col {
    width: 20%;
}

.day-change-col {
    width: 15%
}

.market-cap-col {
    width: 12.5%;
}

.add-to-list-col {
    width: 5%;
}

.add-to-watchlist-icon {
    cursor: pointer;
}

.add-to-watchlist-icon:hover {
    color: var(--main-green)
}

#add-list-modal {
    background-color: var(--gray-hover);
}
