.sidebar-row {
    padding: 0 20px;
}

.sidebar-row-content {
    cursor: pointer;
}

.sidebar-row-content:hover {
    background-color: #1e2124;
}

.sidebar-row {
    font-size: small;
}

.sidebar-row__left > span {
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
}

.sidebar-row__left,
.sparkline,
.sidebar-row__right {
    width: calc(100% / 3);
}
