.sidebar-row {
    padding: 0 20px;
}

.sidebar-row-content {
    cursor: pointer;
}

.sidebar-row-content:hover {
    background-color: #1e2124;
}

.sidebar-row {
    font-size: small;
    height: 50px;
}

.sidebar-row__left > span {
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
}

.sparkline,
.sidebar-row__left {
    width: calc(65% / 2);
}
.sidebar-row__right {
    width: 35%;
}

.day-change {
    color: white;
    margin-right: auto;
}
