#user-home-sidebar {
    box-sizing: border-box;
    width: 325px;
    height: calc(100vh - 100px - 150px);

    margin: 24px 36px;
    margin-top: 80px;
    border: 0.5px solid var(--sidebar-border);
    border-radius: 5px;

    position: sticky;
    top: 150px;

    overflow-y: scroll;
}

#user-home-sidebar::-webkit-scrollbar {
    display: none;
}

#user-home-sidebar > * {
    flex-shrink: 0;
}

.sidebar-row-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
    height: 50px;
    padding: 5px 20px;
    border-top: 0.5px solid var(--sidebar-border);
    border-bottom: 0.5px solid var(--sidebar-border);
}

.sidebar-nav {
    color: white;
}

.sidebar-nav:hover {
    color: var(--main-green);
}

#add-list {
    cursor: pointer;
    transition: rotate 1s;
}

#add-list:hover {
    color: var(--main-green)
}

#lists-header:hover #add-list {
    rotate: 180deg;
}

#your-crypto {
    border-bottom: none;
}
