#user-home-sidebar {
    box-sizing: border-box;
    width: 350px;

    margin: 24px 36px;
    border: 0.5px solid var(--sidebar-border);
    border-radius: 5px;
}

.sidebar-row-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
    height: 50px;
    padding: 5px 20px;
    border-top: 0.5px solid var(--sidebar-border);
    border-bottom: 0.5px solid var(--sidebar-border);
}

.sidebar-nav {
    color: white;
}

.sidebar-nav:hover {
    color: var(--main-green);
}

#add-list {
    cursor: pointer;
}

#add-list:hover {
    color: var(--main-green)
}
