.user-watchlist {
    padding: 0 20px;
    cursor: pointer;
    height: 60px;

    align-items: center;
}

.user-watchlist:hover {
    background-color: #1e2124;
}

.material-symbols-outlined {
    font-size: 16px;
    rotate: 90deg;
    transition: rotate 0.5s;
}

.material-symbols-outlined.collapsed {
    rotate: 270deg;
}

.user-watchlist:hover .watchlist-buttons{
    color: var(--main-green)
}

.watchlist-emoji {
    font-size: 18px;
}
