/* TODO Add site wide styles */
:root {
    --main-green: #00c805;
    --crypto-watchlist-green: #698420;
}

* {
    text-decoration: none;
    font-family: 'Poppins';
}

body {
    margin: 0;
    min-width: 1300px;
}

a:visited {
    text-decoration: none;
}

.main-green-text {
    color: var(--main-green)
}

.black-text {
    color: black;
}

.white-text {
    color: white;
}

.flx-grow-one {
    flex-grow: 1;
}

.flx-row {
    display: flex;
}

.flx-row-justify-ctr {
    display: flex;
    justify-content: center;
}

.flx-row-align-ctr {
    display: flex;
    align-items: center;
}

.flx-row-justify-align-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flx-col {
    display: flex;
    flex-direction: column;
}
