#asset-not-found {
    height: calc(100vh - 65px);
    background-color: black;
    color: white;
    gap: 100px;
}

.asset-not-found-nav {
    color: var(--main-green)
}

.asset-not-found-nav:hover {
    filter: drop-shadow(0 0 5px var(--main-green))
}
