#splash-page {
    min-width: 500px;
    /* margin-top: 65px; */
}

#splash-sect-1 {
    box-sizing: border-box;
    height: 800px;
    width: 100%;
    background-image: url('../img/splash-sect-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #c3f53c;
}

#splash-sect-1 > * {
    width: 500px;
}

#splash-sect-2 {
    background: rgb(29,108,35);
    background: linear-gradient(135deg, rgba(29,108,35,1) 0%, rgba(119,254,38,1) 82%);
}

#splash-sect-3 {
    background: rgb(255,183,83);
    background: linear-gradient(90deg, rgba(255,183,83,1) 0%, rgba(240,164,170,1) 100%);
}

#splash-sect-2,
#splash-sect-3 {
    box-sizing: border-box;
    height: 600px;
    width: 100%;
}

#splash-sect-2 > *,
#splash-sect-3 > * {
    width: 50%;
}

#splash-sect-2-img,
#splash-sect-3-img {
    height: 400px;
    margin: auto;
}

span.sect-text-header {
    width:fit-content;
    background-color: white;
    color: black;
}

.sect-2-text,
.sect-3-text {
    width: 550px;
}

#splash-sect-4 {
    justify-content: space-evenly;

    box-sizing: border-box;
    height: 800px;
    width: 100%;
    margin: auto;
    background-color: black;
}

.sect-4-img-container {
    width: 350px;
    margin: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.sect-4-imgs {
    height: 200px;
    width: 200px;
}

.sect-4-img-text {
    color: white;
}

#splash-sect-5 {
    box-sizing: border-box;
    height: 800px;
    width: 100%;


    background: url('../img/splash-sect-5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
}

#splash-sect-5 > * {
    margin: 60px auto;
    width: 700px;
}

#splash-sect-5-sign-up {
    width: 150px;
    padding: 10px 0;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}

#splash-sect-5-sign-up:hover {
    background-color: #4a4d41;
}

#splash-sect-6 {
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
    /* height: 300px; */
    justify-content: space-evenly;

    background: rgb(205,255,3);
    background: radial-gradient(circle, rgba(205,255,3,1) 0%, rgba(194,247,15,1) 20%, rgba(184,239,27,1) 40%, rgba(173,230,40,1) 60%, rgba(163,222,52,1) 80%, rgba(152,214,64,1) 100%);
}

#splash-sect-6 > * {
    width: 50%;
}

#yuan-bio {
    justify-content: flex-start;
}

#about-yuan-header {
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

#about-yuan-img {
    margin-left: 50px;
    height: 300px;
}

#about-content {
    margin: 0 10px;
    font-size: 15px;
}

#sect-6-right {
    align-self: flex-start;
}

.sect-6__right {
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

.sect-6__right > * {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 5px;
}

#codebase-link {
    margin-top: 20px;
    color: black;
    text-decoration: underline;
    font-size: 18px;
}

.other-projs-link {
    font-size: 18px;
    width: fit-content;
    color: black;
    text-decoration: underline;
}

#codebase-link:hover,
.other-projs-link:hover {
    /* box-shadow: 0 0 5px var(--main-red-loss); */
    filter: drop-shadow(0 0 5px firebrick);
    color: var(--main-red-loss);
    text-decoration: none;
}
