.article-card {
    /* border: 0.5px dashed rgba(255, 0, 0, 0.5); */
    box-sizing: border-box;
    height: 250px;
    width: 900px;

    padding: 24px 24px;
    text-decoration: none;
}

.article-card:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

.article-source-and-date {
    height: 20%;
    font-size: small;
    color: var(--main-green)
}

.article-headline {
    height: 40%;
    line-height: 1.45rem;

    font-size: larger;
    font-weight: bold;
}

.article-summary {
    height: 40%;
    font-size: medium;
}

.article-headline,
.article-summary,
.article-source-and-date {
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
}

.article-card--right {
    align-self: center;
    margin-left: 45px;
}

.article-card-image {
    height: 75px;
    width: 125px;
    border-radius: 5px;
}

.article-border {
    border-bottom: 1px solid gray;
    margin-left: 36px;
    margin-right: 24px;
}
