#search-bar {
    position: relative;

    box-sizing: border-box;
    height: 65px;
    width: 400px;
    padding: 15px 0;
}

#search-input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    border: none;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 5px;

    background-color: var(--gray-hover);

    color: white;
    text-overflow: ellipsis;
}

#search-input:focus {
    outline: none;
    border: 1px solid var(--main-green);
}
