#asset-page {
    display: flex;
    min-height: calc(100vh - 65px);
    background-color: black;
    color: white;
}

#asset-main-content {
    width: 1000px;
    gap: 50px;
}

#asset-graph-caption {
    /* align-self: center; */
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
