#portfolio {
    margin-top: 24px;
    margin-left: 36px;
}

.portfolio-title-emoji {
    font-size: 60px;
}

.portfolio-total-balance {
    font-size: 60px;
}

#asset-table {
    border: 1px solid gray;
    margin-top: 20px;
}

.owned-asset-row {
    height: 60px;
    border-top: 1px solid grey;
}

.owned-asset-symbol {
    width: 15%;
}

.owned-asset-name {
    width: 30%;
}

.owned-asset-balance {
    width: 30%;
}

.owned-asset-buy-sell {
    width: 15%;
    align-self: center;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

.owned-asset-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.owned-asset-symbol,
.owned-asset-name,
.owned-asset-balance {
    box-sizing: border-box;
    margin-right: 15px;
    height: 100%;
    border-right: 1px solid grey;
}

.nav-to-asset {
    text-decoration: none;
    color: var(--crypto-watchlist-green);
}

.nav-to-asset:hover {
    color: var(--main-green);
}
